
  body {
    background-color: #fed9ca;
  }
  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    height: 5px;
    width: 30%;
  }
  h1 {
    color: #c5c5c5;
  }
  h3 {
    color: #7d7d7d;
  }
  h2  {
    color: #7d7d7d;
  }
